// app global css in SCSS form
@import './theme.scss';


.page-light {
  background-color: $grey-2;
}

.page-dark {
  background-color: $dark-page;
}

.title-desc {
  margin-top: -5px;
  color: $grey;
  font-size: 12px;
}
